@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_Header_guest")


    @RenderBody() <!-- Aici se va încărca conținutul fiecărui View -->


    @Html.Partial("_Footer_guest")
</body>
</html>



